/* -----------------------------------------------INDEX PAGE */

#container {
  position: relative;
}

body {
  height: 100%;
  background-color: #CECECE;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.chone-front {
  position: absolute;
  font-family: 'Anton', sans-serif;
  font-size: 90px;
	display: inline-block;
  top: 8px;
  left: 16px;
}

.nav-links {
    position: absolute;
    font-family: 'Inconsolata', monospace;
    list-style-type: none;
    margin: 5px, 5px;
    overflow: hidden;
    top: 100px;
    left: 16px;
}

.nav-links li {
    margin-left: 25px;
    display: inline-block;
    font-size: 20px;
}

li a {
    font-style: bold;
    font-size: 19px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;

}

.foggy-img {
  display: inline-block;
}
.foggy-tall {
  display: none;
}

.left-side, .right-side {
  display: inline-block;
}

.development-area {
}

#projects {
  position: absolute;
  color: white;
  font-size: 40px;
  top: 35;
  left: 90;
}

.dev-li a:hover {
  color: white;
}

#development {
  font-size: 20px;
  border: 2px solid black;
  padding: 5px 10px;
}

.dev-group {
  text-align: right;
  display: inline-block;
  width: 710px;
  height: 710px;
}

.chicago-desc, .game-desc, .ondeck-desc, .death-desc {
  display: none;
}

.chicago-desc, .game-desc, .ondeck-desc, .death-desc {
  width: 200px;
  height: 200px;
}

#about {
  clear: both;
}

/* -------------------------------------------- CONTACT PAGE 



/* needs description */
@media only screen and (max-width: 700px){
    .logo-responsive {
      width: 70px;
      padding-left: 10px;
    }

    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }

    /* about page*/

    .contact-form {
      width: 500px;
    }
}

/* needs description */
@media only screen and (max-width: 550px){

  .chone-responsive {
      font-size: 80px;
      margin: 5px;
      padding: 0px;
    }

  .nav-links {
    margin-left: 40px;
    padding: 0;

  }

  li a {
    font-size: 15px;
  }
  
  .responsive {
    width: 100%;
  }

  footer {
    margin-top: -80px;
    margin-left: 40px;
  }

}

/* needs description */
@media only screen and (min-width: 890px){
    .chone-responsive {
      margin-left: 30px;
      text-align: right;
  }

  .blog-body {
    /*background-color: blue;*/
  }

  .blog-section {
    display: block;
  }

}

/* needs description */
@media only screen and (min-width: 400px){
  .chone-responsive {
      font-size: 90px;
      margin: 5px;
      padding-left: 10px;
      text-align: center;
  }
}



